<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="BoardDto" type="com.fastcampus.ch4.domain.BoardDto"/>
        <typeAlias alias="User" type="com.fastcampus.ch4.domain.User"/>
        <typeAlias alias="new_Info" type="com.fastcampus.ch4.domain.new_Info"/>
        <typeAlias alias="SearchCondition" type="com.fastcampus.ch4.domain.SearchCondition"/>
    </typeAliases>
</configuration>